/* === AUTHOR INFO === */
.author-info {
  text-align: center;
  margin-bottom: 20px;
}

.author-info img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.author-info h3 {
  color: #0d6efd;
  margin-bottom: 5px;
}