.boton-seguir {
    border-radius: 1000px;
    background-color: #0d6efd;
    color: white;
}

.boton-seguir.boton-seguir-siguiendo {
    background-color: #e9ecef;
    color: black;
}

.boton-seguir.boton-seguir-siguiendo:hover {
    background-color: red;
    color: white;
    border-color: darkred;
}

.boton-seguir-mensaje-dejar {
    display: none;
}

.boton-seguir.boton-seguir-siguiendo:hover .boton-seguir-mensaje-dejar {
    display: inline;
}
.boton-seguir.boton-seguir-siguiendo:hover .boton-seguir-mensaje {
    display: none;
}
