/* === RELATED POSTS === */
.related-posts h3 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.related-posts ul {
  list-style: none;
  padding: 0;
}

.related-posts li {
  margin: 5px 0;
  cursor: pointer;
  color: #0d6efd;
}